<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ben"
        android:label="Messy Management"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessyManagement"
        tools:targetApi="31">
        <activity
            android:name=".food_qr2"
            android:exported="false" />
        <activity
            android:name=".MainActivity7"
            android:exported="false" />
        <activity
            android:name=".Messages"
            android:exported="false" />
        <activity
            android:name=".New_rides"
            android:exported="false" />
        <activity
            android:name=".Rides"
            android:exported="false" />
        <activity
            android:name=".MainActivity5"
            android:exported="false" />
        <activity
            android:name=".qrcode"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".TimeTable2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".timetable_activity"
            android:exported="false" />
        <activity
            android:name=".feedback_activity"
            android:exported="false" />
        <activity
            android:name=".food_qr_activity"
            android:exported="false" />
        <activity
            android:name=".navigation_drawer_profile"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer_profile"
            android:theme="@style/Theme.MessyManagement.NoActionBar" />
        <activity
            android:name=".loginn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>